*.iml
.idea/
.DS_Store

.gradle/
build/
**/build/
captures/
.externalNativeBuild/
.cxx/

local.properties
*.keystore

.idea/assetWizardSettings.xml
.idea/navEditor.xml
.idea/workspace.xml
.idea/caches
.idea/libraries
.idea/modules.xml

Thumbs.db
*.swp
*~
*.class
*.log

